@{
    ViewData["Title"] = "Reports";
}
@section Styles {
    <link rel="stylesheet" href="~/css/reports.css" />
}
<h1>@ViewData["Title"] Page</h1>


@section Scripts {
    <script type="text/javascript" src="~/js/reports.js"></script>    
}