@{
    ViewData["Title"] = "Workout";
}
@section Styles {
    <link rel="stylesheet" href="/css/home.css" />
}
<h1>@ViewData["Title"] Page</h1>
<p id="apiResult">&nbsp;</p>

@section Scripts {
    <script type="text/javascript" src="~/js/home.js"></script>
}